<div data-loader class="{% if add_classes %}{{ add_classes }} {% endif %}top-0 left-0 right-0 bottom-0 flex-center bg-light-75 backdrop-blur-sm transition-opacity opacity-0 invisible z-1000">
    <div class="w-56 h-56 flex-center overflow-hidden">
        <div class="w-48 h-48 relative">
            <div class="absolute w-full h-full border-2 border-dark border-t-transparent rounded-full animate-rotate"></div>
        </div>
    </div>
</div>