<div class="container mx-auto text-center my-96">
  <p class="h1">
    {{ 'templates.404.subtext' | t }}
  </p>
  <h1 class="h3 mt-16 md:mt-32">
    {{ 'templates.404.title' | t }}
  </h1>
  <a href="{{ routes.all_products_collection_url }}" class="btn btn-large mt-24 md:mt-32">
    {{ 'general.continue_shopping' | t }}
  </a>
</div>
